/* Existing styles */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #000000;
    --text-color: #2c3e50;
    --button-color: #e74c3c;
    --background-color2: #000000;

    --table-border-color: #bdc3c7;
    --table-header-bg: #34495e;
    --table-header-color: #ecf0f1;
}

.headwithlogo {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  background-color: #000000;
  padding: 1em 0;
}

.logo {
  width: 50px;
  text-align: center;
  justify-items: first baseline;
  justify-items: start;
}

/* .logo {
  width: 50px;
  height: 50px; Adjust the logo size as needed
  margin-right: 2em;
  padding-left: 10px;
  margin-bottom: -15px; */
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    /* background-color: var(--primary-color); */
    background-color: #2c3e50;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;  /* Change to flexbox to align items horizontally */
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;  /* Space out the items horizontally */
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    
}

/* Rest of the existing styles */
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}

.card {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 1em;
    width: 300px;
    transition: transform 0.2s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    /* background-color: var(--secondary-color); */
    background-color: #01511a;
    color: white;
    padding: 1em;
    margin: 0;
}

.title-input {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: auto;
}

.enter-button {
    /* background-color: var(--button-color); */
    background-color: #000000;
    border: none;
    color: white;
    padding: 1em;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enter-button:hover {
    background-color: darken(var(--button-color), 10%);
}

.

/* Table Design */

.table-section {
  margin: 2em;
  /* padding: 25px; */
  /* gap: 1em; */
  
}


h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 1em;
}

.styled-table {
  width: 100%;
  
  /* border-radius: 24px; */
  /* display: table; */
  /* display: flexbox; */
  justify-content: center;
  /* align-items: center; */
  border-collapse: collapse;
  margin-bottom: 2em;

}

.styled-table th,
.styled-table td {
  
  text-align: inherit; 
  background-color: rgba(0, 0, 0, 0.05);
  display: table-cell;
 
  padding: 2em;
  border: 1px solid var(--table-border-color);
  text-align: left;
}

.styled-table th {
  
  background-color: 007eff;
  color: var(--table-header-color);
}

.styled-table tr:nth-child(even) {
  
  /* background-color: #f2f2f2;
  background-color: #ffffff; */
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    /* display: block; */
}

.styled-table tr:hover {
  /* background-color: var(--secondary-color); */
  background-color: rgba(39, 172, 249, 0.35);
  color: white;
  
}


.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  /* height: 48px; */
  height: 40px;
  justify-content: center;
  
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  margin-left: 15px;
  margin-bottom: 10px;
  
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width:88px; */
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.arabicgulf {
  /* background-color: #f1c40f; */
  /* color: white; */
  /* --primary-color: #3498db; */
  color: black;
  text-align: center;
  /* padding: 1em; */
}



/* .tbh {
  order-radius: 3px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
} */

/* 
.btn-withname {
  /* background-color: #3498db; */
  /* color: rgb(69, 69, 69);
  padding: 1em;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s; */
  border-radius: 5px;
  text-align: center;
  /* display: grid; */
  /* display: inline-table; */
} */




/* +++++++++++++++++++++++++++++++++ */



/* Centering the container */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ececec;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Styling the container */
.btn-withname {
  /* background: rgba(255, 255, 255, 0.8); Semi-transparent white */
  color: rgb(69, 69, 69);
  background-color: #092037;

  justify-content: center;
  margin: 0;
  align-items: center;
  color: #f2f2f2;
  
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  text-align: center;
  
  border: 1px solid rgba(255, 255, 255, 0.6); /* Subtle border */
  backdrop-filter: blur(10px); /* Background blur effect */
  
}

/* Styling the headings */
.arabicgulf {
  font-size: 1.6rem;
  color: #ffffff; /* A bold color to match the design */
  margin-bottom: 15px;
}

.name-upb {
  font-size: 1.3rem;
  color: #c6c6c6;
  margin-bottom: 25px;
}

/* Styling the buttons with transparency */
.button-17 {
  background-color: rgba(0, 123, 255, 0.2); /* Transparent background */
  color: #007bff; /* Eye-catching text color */
  padding: 12px 25px;
  border: 2px solid #007bff; /* Solid border */
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.button-17:hover {
  background-color: rgba(0, 123, 255, 0.6); /* Stronger background on hover */
  color: white; /* Text color changes on hover */
  transform: scale(1.05); /* Hover effect */
}

/* For smaller screens */
@media (max-width: 600px) {
  .btn-withname {
    padding: 20px;
    max-width: 320px;
  }
  
  .arabicgulf {
    font-size: 1.3rem;
  }
  
  .name-upb {
    font-size: 1.1rem;
  }
  
  .button-17 {
    padding: 10px 18px;
    font-size: 1rem;
  }
}

.img-box {
  /* display: flex; */
  width: 250px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}